/*----------------------
    General properties.
----------------------*/

    body
    {    
        width: 100%;
        max-height: 100vh;

        margin: 0;
       
        font-size: 14px;
        font-family: "Calibri";

        background-color: #EEE;
    }

    @font-face 
    { 
        font-family: 'T4CBeaulieux';
        src: url('../fonts/t4cbeaulieux.ttf');
    }

    a
    {
        text-decoration: none;
    }

    .flex
    {
        display: flex;
    }

    #wrapper
    {
        margin-top: 82px;
    }

    h2
    {
        width: calc(100vw - 120px);
        height: 40px;

        position: fixed;

        margin: 0;
        padding-top: 5px;
        
        color: #FFF;
        font-size: 1.8rem;
        text-align: center;

        background-color: #071622;
    }

/*----------------------
    Header properties.
----------------------*/

    header
    {
        width: 100%;
        height: 80px;

        position: fixed;
        top: 0;
        
        margin: 0;
        
        background: linear-gradient(135deg, rgba(6,53,85,1) 0%,rgba(20,72,127,1) 49%,rgba(6,53,85,1) 100%);
        border-bottom: 2px solid #FFF;
        box-shadow: 0 5px 5px #333;
    }

    h1
    {
        margin: 0;
        padding-top: 10px;

        color: #FFF;
        font-size: 3rem;
        font-family: 'T4CBeaulieux';
        text-align: center;
    }

    h1 a:visited
    {
        color: #FFF;
    }

/*---------------------------
    Navigation properties.
---------------------------*/

    nav
    {
        width: 120px;
        height: calc(100vh - 82px);

        position: fixed;

        padding-top: 10px;

        background-color: #071622;
    }

    nav ul
    {
        margin: 0;
        padding: 0;
    }

    nav li
    {
        width: 100px;
        height: 110px;

        position: relative;

        margin: auto;
        margin-bottom: 15px;
        margin-top: 5px;
        padding: 0;

        list-style: none;
    }

    nav a
    {
        display: inline-block;

        width: 100px;
        height: 30px;

        position: absolute;

        margin: 0;
        margin-left: -32px;
        padding-top: 90px;

        color: #FFF;
        font-size: 1.5rem;
        text-align: center;

        opacity: 0;
        transition: opacity .2s ease-in-out, margin .2s ease-in-out;
    }

    nav:hover a
    {
        margin-left: 0;
        opacity: 1;
    }

    #nav_items a:hover 
    {
        color: #01a714;
    }

    #nav_creatures a:hover 
    {
        color: #a70101;
    }

    #nav_npcs a:hover 
    {
        color: #01a0a6;
    }

    #nav_clans a:hover 
    {
        color: #a001a6;
    }

    #nav_spells a:hover 
    {
        color: #d68800;
    }

    #nav_flags a:hover 
    {
        color: #016aa7;
    }
    
    #nav_items
    {
        background: url('../images/nav/items_blank.png') no-repeat center;
        background-size:  50px 60px;
    }

    #nav_items:hover
    {
        background: url('../images/nav/items_colored.png') no-repeat center;
        background-size:  50px 60px;
    }

    #nav_creatures
    {
        background: url('../images/nav/creatures_blank.png') no-repeat center;
        background-size:  60px 60px;
    }

    #nav_creatures:hover
    {
        background: url('../images/nav/creatures_colored.png') no-repeat center;
        background-size:  60px 60px;
    }

    #nav_npcs
    {
        background: url('../images/nav/npcs_blank.png') no-repeat center;
        background-size:  60px 60px;
    }

    #nav_npcs:hover
    {
        background: url('../images/nav/npcs_colored.png') no-repeat center;
        background-size:  60px 60px;
    }

    #nav_clans
    {
        background: url('../images/nav/clans_blank.png') no-repeat center;
        background-size: 65px 45px;
    }

    #nav_clans:hover
    {
        background: url('../images/nav/clans_colored.png') no-repeat center;
        background-size:  65px 45px;
    }

    #nav_spells
    {
        background: url('../images/nav/spells_blank.png') no-repeat center;
        background-size:  60px 55px;
    }

    #nav_spells:hover
    {
        background: url('../images/nav/spells_colored.png') no-repeat center;
        background-size:  60px 55px;
    }

    #nav_flags
    {
        background: url('../images/nav/flags_blank.png') no-repeat center;
        background-size:  50px 65px;
    }

    #nav_flags:hover
    {
        background: url('../images/nav/flags_colored.png') no-repeat center;
        background-size:  50px 65px;
    }

/*-----------------------------
    Main content properties.
-----------------------------*/

    main
    {
        width: calc(100vw - 120px);
        height: calc(100vh - 82px);

        margin-left: 120px;
    }

    .content_wrapper
    {
        padding: 40px;
        padding-top: 80px;
    }